      <!DOCTYPE html>
        <html>
        <head>
        
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="Keywords" content="" />
            <meta name="Description" content="" />
            <title>{$sites.sitename}门户网站-交流互动</title>
            <link href="__HOME__/css/base.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="__HOME__/css/hngov.css" type="text/css" />
            <link href="__HOME__/css/public.css" rel="stylesheet" type="text/css" />
        
            <link href="__HOME__/css/artlist.css" rel="stylesheet" type="text/css" />
            <link href="__HOME__/css/artshow.css" rel="stylesheet" type="text/css" />
            <link href="__HOME__/css/pages.css" rel="stylesheet" type="text/css" />
            <link href="__HOME__/css/pager.css" rel="stylesheet" />

        
    <link rel="stylesheet" type="text/css" href="__HOME__/css/style.css">

            <!-- <script>
                var webroot = "/",
                    murl = "list.asp?classid=1";
            </script> -->
        
            <script src="__HOME__/js/jquery.js"></script>
        
        
        
            <script src="__HOME__/js/base.js"></script>
        

        
            <script src="__HOME__/js/zh_CN.js"></script>
        
            <script src="__HOME__/js/sdcms.js"></script>
        
            <script src="__HOME__/js/main.js"></script>
        
        
            <!-- @RenderSection("styles", required: false) -->
        </head>
        <body>
        
                <div class="wrapper wrapTop">
                       
                    {include file="public:top"}
                       </div>
                   
                       {include file="public:navs"}
                   
        
                   <div id="position">
                        您所在的位置：
                        <a href="{:url('Index/index')}">首页</a> &gt;
                    
                        <a href="javascipt:;" title="在线留言">在线留言</a>
                    </div>
                    <div class="w980 mt10 mc" id="container" style="box-sizing: content-box;">
                        <div class="right">
                            <div class="w610 " style="width:auto;padding-bottom:50px;">
                                <div class="title">在线留言</div>
                                <form action="#">
                                    <div class="messlist">
                                        <label>姓名</label>
                                        <input type="text" id="Name" name="name" placeholder="姓名" />
                                        <div class="clears"></div>
                                    </div>
                                    <div class="messlist">
                                        <label>电子邮件</label>
                                        <input type="text" id="Email" name="email" placeholder="电子邮件" />
                                        <div class="clears"></div>
                                    </div>
                                    <div class="messlist">
                                        <label>手机号</label>
                                        <input type="text" id="Tel" name="tel" placeholder="手机号" />
                                        <div class="clears"></div>
                                    </div>
                                    <div class="messlist textareas">
                                        <label>留言内容</label>
                                        <textarea id="Content" name="content" placeholder="留言内容"></textarea>
                                        <div class="clears"></div>
                                    </div>
                                    <div class="messlist yzms">
                                        <label>验证码</label>
                                        <input type="text" id="yzm" name="yzm" placeholder="验证码" />
                                       <div class="yzm" style="width:125px;height: 31px;overflow: hidden;"> {:captcha_img()}</div>
                                        <div class="clears"></div>
                                    </div>
                                    <style>
                                     .yzm img{
                                         width: 100%;
                                         height: 100%;
                                     }
                                    </style>
                                    <div class="messsub">
                                        <input type="button" value="提交" id="AddMsg"  style="background:#01458e;color:#fff;" />
                                        <input type="reset" value="重填" />
                                    </div>
                                </form>
                            </div>
                            <div class="w610">
                                <div class="title">
                                    查看留言
                                </div>
                                <ul class="msg">
                                    {volist name="list" id="v"}
                                        <li>
                                             <strong>{$v.username}</strong>
                                            <div class="content">
                                                <p>{$v.content}</p><span class="date">{$v.createtime}</span>
                                            </div>
                                            <ul>
                                                <?php $id=$v['id']; $res=db("msg_info")->where("parentid",$id)->select(); ?>
                                                 {volist name="res" id="vs"}
                                                        <li>
                                                            <strong>{$vs.username}</strong>
                                                            <div class="content">
                                                                <p>
                                                                        {$vs.content}
                                                                </p>
                                                                <span class="date">{$vs.createtime}</span>
                                                            </div>
                                                        </li>
                                                {/volist}
                    
                                            </ul>
                                            
                                        </li>
                                    {/volist}
                    
                    
                                </ul>
                                <div class="c mt10 list_page" style="float:right">
                    
                                    {$page}
                                </div>
                    
                            </div>
                        </div>
                        <div class="left">
                            <div class="b">
                                <div class="subject">栏目类别</div>
                                <ul class="topcate">
                                    <li class="hover" style="background:{$banner.color} url(__HOME__/images/ico_arr.gif) no-repeat top left;">
                                        <a href="{:url('News/msg')}">在线留言</a>
                                    </li>
                                    <style>
                                    .topcate li a:hover{
                                        color: #fff;
                                        background:{$banner.colors} url(__HOME__/images/ico_arr.gif) no-repeat top left;
                                    }
                                    </style>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script>
                        
                        $("#AddMsg").click(function () {
                            AddMsg();
                        })
                        function AddMsg() {
                            //alert(111);
                            //邮箱，手机，
                            var emailReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
                            var telReg = /^1[3456789]\d{9}$/;
                            var email = $("#Email").val();
                            var tel = $("#Tel").val();
                            var yzm = $("#yzm").val().length;
                            var bChk = emailReg.test(email);
                            if (!emailReg.test(email) || email == "") {
                                alert("邮箱格式不正确");
                                return;
                            }
                            if (!telReg.test(tel) || tel == "") {
                                alert("手机格式不正确");
                                return;
                            }

                            if(yzm != 4){
                                alert("请输入正确的验证码");
                                return;
                            }
                    
                            $.ajax({
                                url: "{:url('News/save')}",
                                type: "post",
                                data: $("form").serialize(),
                    
                                success: function (data) {
                                    if (data == 0) {
                                        alert("添加成功");
                                        //swal("添加成功！", data.msg, "success");
                                        location.reload();
                                    }
                                    else if (data == 1) {
                                        alert("验证码不正确");return;
                                        //swal("验证码不正确", data.msg, "error");
                                      //  $("#imgCheckout").attr("src", "/Home/GetValidateCode?time=" + (new Date()).getTime())
                                    }
                                    else {
                                        alert("添加失败");return;
                                        //swal("添加失败", data.msg, "error");
                                       // $("#imgCheckout").attr("src", "/Home/GetValidateCode?time=" + (new Date()).getTime())
                                    }
                                }
                            });
                        }
                    
                    
                    </script>
         
            {include file="public:footer"}
          
        </body>
        </html>
        