<div id="nav" style="border-bottom: 2px solid {$banner.color};background: {$banner.color};">
                   
        <ul class="menu">
             {volist name="site" id="v" key="k"}

             {if condition="$k eq 1"}
             
                 <li class="hover menu_item">
                     <a href="{:url('Index/index')}">{$v.name}</a>
                 </li>

                 {elseif condition="$v['name'] eq '互动交流' " }
         <li class="menu_item">
              <a href="{:url('News/msg')}" target="_blank" class="a">{$v['name']}</a>
          </li>
            
             {else /}
             
                 <!-- <li class="mid"></li> -->
                 <li class="menu_item">
                     <a href="{:url('News/index',array('id'=>$v['id']))}" >{$v.name}</a>
                 </li>
             {/if}

        {/volist}
           
           
        </ul>
    
    </div>
    <style>
    .menu li a:hover{
       background: {$banner.colors}
    }
    </style>