<div class="banner" style="text-align:center;">
    <img src="{$host}/uploads/{$banner.top_image}">
    <!-- <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="swflash.cab#version=7,0,19,0"  width="1000" height="220">
           <param name="movie" value="fla.swf"  />
           <param name="quality" value="high" />
           <embed src="__HOME__/images/fla.swf"  quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="200"></embed>
 </object> -->
</div>